.profile-page-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 3rem;

    .profile-main-grid {
      display: grid;
      grid-template-columns: 1fr 400px;
      gap: 3rem;
      align-items: flex-start;
    }
}

@media (max-width: 1100px) {
    .profile-page-container {
      padding: 1.5rem;
      .profile-main-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
      }
    }
}